@import url("https://fonts.googleapis.com")
@import url("https://fonts.gstatic.com")
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;700;800&display=swap")

body
    font-family: 'Sora', 'arial', sans-serif
    color: #333
    font-weight: 300
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    margin: 0
   
html
    font-size: 11.25px
    font-size: 1rem

h1.bigger, .h1.bigger
    font-size: 4rem
    line-height: 5rem
h1, .h1
    font-size: 2.5rem
    line-height: 3.25rem
h2, .h2
    font-size: 2rem
    line-height: 2.75rem
h3, .h3
    font-size: 1.5rem
    line-height: 2.4rem
h4, .h4
    font-size: 1.125rem
    line-height: 1.8rem
h5, .h5
    font-size: 1rem
    line-height: 1.625rem
h6, .h6
    font-size: 0.875rem
    line-height: 1.35rem
.p1
    font-size: 1.25rem
    line-height: 1.8rem
.p2
    font-size: 1.125rem
    line-height: 1.75rem
.p3, p, .single-post .blog-content ul, .single-post .blog-content ol, .but
    font-size: 1rem
    line-height: 1.5rem
.p4
    font-size: 0.8rem
    line-height: 1.35rem

.fw1
    font-weight: 100
.fw2
    font-weight: 200
.fw3
    font-weight: 300
.fw4
    font-weight: 400
.fw5
    font-weight: 500
.fw6
    font-weight: 600
.fw7
    font-weight: 700
.fw8
    font-weight: 800
.fw9
    font-weight: 900

@media (min-width: 768px) and (max-width: 1190px)    
    html
        font-size: 14px
    .h1sm
        font-size: 3.75rem
        line-height: 5.125rem
    .h2sm, h1.bigger, .h1.bigger
        font-size: 3rem
        line-height: 3.75rem
    .h3sm
        font-size: 2rem
        line-height: 3rem
    .h4sm
        font-size: 1.5rem
        line-height: 2.4rem
    .h5sm
        font-size: 1.125rem
        line-height: 1.8rem
    .h6sm
        font-size: 1rem
        line-height: 1.625rem
    .p1sm
        font-size: 1.25rem
        line-height: 1.8rem
    .p2sm
        font-size: 1.125rem
        line-height: 1.75rem
    .p3sm
        font-size: 1rem
        line-height: 1.625rem
    .p4sm
        font-size: 0.875rem
        line-height: 1.35rem
    .p5sm
        font-size: 0.75rem
        line-height: 1.125rem

@media (max-width: 767px)    
    html
        font-size: 13px
    .h1xs
        font-size: 3.75rem
        line-height: 5.125rem
    .h2xs, h1.bigger, .h1.bigger
        font-size: 3rem
        line-height: 3.75rem
    .h3xs
        font-size: 2rem
        line-height: 3rem
    .h4xs
        font-size: 1.5rem
        line-height: 2.4rem
    .h5xs
        font-size: 1.125rem
        line-height: 1.8rem
    .h6xs
        font-size: 1rem
        line-height: 1.625rem
    .p1xs
        font-size: 1.25rem
        line-height: 1.8rem
    .p2xs
        font-size: 1.125rem
        line-height: 1.75rem
    .p3xs
        font-size: 1rem
        line-height: 1.625rem
    .p4xs
        font-size: 0.875rem
        line-height: 1.35rem
    .p5xs
        font-size: 0.75rem
        line-height: 1.125rem