.page-container
    background: #fbf9ff
    
.landing-page-banner
    background-attachment: fixed
    background-color: #fff
    background-image: url("./img/svg-banner-background.svg")
    background-position: top center
    .imagecontainer
        img
            width: 130%
            margin-left: -15%
            margin-top: -10%

.landing-page-about
    .banner-container
        &:before
            content: ""
            position: absolute
            width: calc(100% - 30px)
            height: 100%
            top: 0
            left: 15px
            z-index: -1
            @include bgdef
            background-position: right center
            background-size: contain
            background-color: #FFF
            background-image: url('./img/shivam-soni-dev-banner.jpg')
            box-shadow: $mediumblue 15px -15px 0px, $lightblue 30px -30px 0px
            z-index: 1
        .content
            z-index: 2
            box-shadow: 4px 1px 7px 0 rgba(0,0,0,0.2)

.landing-page-work
    .work-projects
        .work-containers
            padding-bottom: 50px    
            .work-card
                position: relative
                width: 100%
                .card-image
                    img
                        border-radius: 7px
                        width: 100%
                        box-shadow: 0 0 10px rgba(0,0,0,0.2)
            &:nth-child(odd)
                clear: both

.landing-page-clients
    z-index: 2
    margin-top: -50px
    margin-bottom: -100px
    .client-container .container:before
        content: ''
        height: 77%
        width: 100vw
        position: absolute
        top: 8%
        left: calc( (1170px - 100vw) /2 )
        background-color: $black
    .clients
        .single
            .imagecontainer
                background-color: #FFF
                margin-bottom: 30px
                box-shadow: 0 0 4px 0 rgba(0,0,0,0.2)
                border-radius: 3px
            .image
                @include bgdef
                background-size: 60%
                min-height: 100px
                opacity: 0
        .single.fadenow
            .image
                animation: fadeIn forwards 0.15s ease-in
        .single.smaller
            .image
                background-size: 30%
        .single.small
            .image
                background-size: 40%
        .single.big
            .image
                background-size: 75%
        .single.bigger
            .image
                background-size: 95%
        .carousel-indicators
            bottom: -20px
    .clients
        .single:nth-child(1) .imagecontainer .image
            background-image: url('./img/clients/321.svg')
        .single:nth-child(2) .imagecontainer .image
            background-image: url('./img/clients/akanksha.svg')
        .single:nth-child(3) .imagecontainer .image
            background-image: url('./img/clients/atma.svg')
        .single:nth-child(4) .imagecontainer .image
            background-image: url('./img/clients/fwd.svg')
        .single:nth-child(5) .imagecontainer .image
            background-image: url('./img/clients/habitat.svg')
        .single:nth-child(6) .imagecontainer .image
            background-image: url('./img/clients/isli.svg')
        .single:nth-child(7) .imagecontainer .image
            background-image: url('./img/clients/idpa.svg')
        .single:nth-child(8) .imagecontainer .image
            background-image: url('./img/clients/mdb.svg')
        .single:nth-child(9) .imagecontainer .image
            background-image: url('./img/clients/mdf.svg')
        .single:nth-child(10) .imagecontainer .image
            background-image: url('./img/clients/rangsutra.svg')
        .single:nth-child(11) .imagecontainer .image
            background-image: url('./img/clients/sneha.svg')
        .single:nth-child(12) .imagecontainer .image
            background-image: url('./img/clients/socialstar.svg')
        .single:nth-child(13) .imagecontainer .image
            background-image: url('./img/clients/tbrm.svg')
        .single:nth-child(14) .imagecontainer .image
            background-image: url('./img/clients/tdel.svg')
        .single:nth-child(15) .imagecontainer .image
            background-image: url('./img/clients/treelife.svg')

@keyframes fadeIn
    0% 
        opacity: 0
    100%
        opacity: 1

.landing-contact
    .email-id
        .block-but:hover, .block-but:focus
            background: $blue
            color: #FFF