.landing-page-banner
    .banner-image
        padding: calc((100vh - 310px)/2) 0
        background: radial-gradient(rgba(0,0,0,0.1) 15%, transparent 16%) 0 0, radial-gradient(rgba(0,0,0,0.1) 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
        background-size: 16px 16px
        background-color: #F0F0F0
        .logo-image-holder
            img
                width: 240px
        .banner-body-copy
            margin: 2rem 0 3rem
        .banner-work-button
            .button
                width: 300px

.landing-page-work
    padding: 4rem 0
    .work-projects
        padding-top: 2rem
        .work-card
            cursor: pointer
            margin-bottom: 30px
            box-shadow: 0 0 10px rgba(0,0,0,0.2)
            border-radius: 7px
            overflow: hidden
            .card-image
                img
                    width: 100%
            .card-content
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
                background: rgba(0,0,0,0.8)
                color: #FFF
                opacity: 0
                z-index: 2
                padding: 8rem 5rem 2rem
                text-align: center
                transition: all 0.25s ease-in-out
        .work-card:hover
            .card-content
                opacity: 1
        .work-containers:nth-child(odd)
            clear: both

.landing-contact
    background: $orange
    padding: 2rem 0
    text-align: center
    .email-id
        a
            span
                padding-right: 20px
                img
                    height: 50px
        a:hover
            color: $red